<div class="wrapper-grey" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
  <ul class="list-inline" style="font-size: 25px;">
    <li> <i class="fa fa-instagram"></i> </li>
    <li><i class="fa fa-facebook"></i> </li>
    <li><i class="fa fa-twitter"></i> </li>
    <li><i class="fa fa-youtube"></i> </li>
  </ul>
      </div>
      <div class="col-xs-8" style="text-align: right">
  <p>This is a Airbnb clone created during the full-stack program @LeWagon</p>
      </div>
    </div>
  </div>
</div>
